<!-- COMANDOS TOP -->
<section id="comandos-top" class="comandos-top">
<h1>Comandos top (Lista de processos)</h1>

<p>O comando "top" é um utilitário de linha de comando disponível em sistemas operacionais baseados em Unix e Linux. Ele é usado para exibir informações sobre os processos em execução no sistema, como uso de CPU, uso de memória e outras informações relevantes.</p>
<p>Quando o comando "top" é executado, ele exibe uma lista de todos os processos em execução no sistema, juntamente com informações como o PID (identificador do processo), o usuário que iniciou o processo, o uso de CPU e memória, o tempo de execução e outras informações úteis.</p>
<p>Algumas das variáveis mais comuns que podem ser usadas com o comando "top" incluem:</p>

<p>1. "c" ou "COMMAND": exibe o nome do comando ou do programa que está sendo executado.</p>
<p>2. "k" ou "KILL": permite matar um processo específico. É necessário fornecer o PID do processo.</p>
<p>3. "n" ou "ITERATIONS": define o número de iterações que o comando "top" deve executar antes de sair.</p>
<p>4. "p" ou "PID": exibe apenas informações para um processo específico. É necessário fornecer o PID do processo.</p>
<p>5. "q" ou "QUIT": sai do comando "top".</p>
<p>6. "r" ou "RENICE": altera a prioridade de um processo específico. É necessário fornecer o PID do processo.</p>
<p>7. "s" ou "SECURITY": exibe informações sobre a segurança do sistema.</p>
<p>8. "u" ou "USER": exibe apenas informações para um usuário específico.</p>
<p>9. "W" ou "WRITE": salva as configurações atuais do comando "top" em um arquivo para serem usadas na próxima vez que o comando for executado.</p>

<p>Essas são apenas algumas das variáveis disponíveis para o comando "top". Para ver a lista completa de opções, você pode digitar "man top" no terminal para ler o manual do comando.</p>
</section>
 <!-- FINAL DOS COMANDOS TOP --> 