<!-- COMANDOS DF -->
<section id="comandos-df" class="comandos-df">
<h1>COMANDOS DF</h1>   

<p>O comando "df" é um utilitário de linha de comando disponível em sistemas operacionais baseados em Unix e Linux. Ele é usado para exibir informações sobre o espaço em disco disponível e usado em diferentes sistemas de arquivos.</p>
<p>Ao executar o comando "df" sem nenhuma opção ou argumento, ele mostra uma lista de todos os sistemas de arquivos montados atualmente no sistema, juntamente com informações sobre o espaço total, espaço usado e espaço livre em cada sistema de arquivos.</p>
<p> As variáveis mais comuns que podem ser usadas com o comando "df" incluem</p>

<p> 1. "-h" ou "--human-readable": exibe as informações em um formato legível para humanos, com unidades de tamanho em gigabytes (GB), megabytes (MB) ou kilobytes (KB).</p>
<p> 2. "-T" ou "--print-type": exibe o tipo de sistema de arquivos de cada sistema de arquivos.</p>
<p> 3. "-i" ou "--inodes": exibe informações sobre o número de inodes usados e disponíveis em cada sistema de arquivos.</p>
<p> 4. "-t" ou "--type": exibe apenas informações para os sistemas de arquivos que correspondem ao tipo especificado. Por exemplo, "-t ext4" exibirá apenas informações para sistemas de arquivos ext4.</p>
<p> 5. "-x" ou "--exclude-type": exclui informações para os sistemas de arquivos que correspondem ao tipo especificado. Por exemplo, "-x nfs" exclui informações para sistemas de arquivos NFS.</p>
<p> 6. "-P" ou "--portability": usa um formato de saída portátil que pode ser usado em diferentes sistemas operacionais.</p>

<p>Essas são apenas algumas das variáveis disponíveis para o comando "df". Para ver a lista completa de opções, você pode digitar "man df" no terminal para ler o manual do comando.</p>
</section>
 <!-- FINAL DOS COMANDOS DF -->